//Search box_______________
//_________________________


.course-search {
    background-color: $light-orange;
    padding: 4rem;

  
   
    max-width: 100%;
   
    i {
        font-size: 3.5rem;
        color: $white;
   
        padding-left: 1.1rem;
    text-align: center;
        
       
    }
}

#course-finder {
    padding: 2rem;
    font-size: 2rem;

    border-radius: 0.5rem;
}


