//Search box_______________
//_________________________
.course-search {
    position: relative;
    background-color: scale-color($orange, $lightness: +96%);
    padding: 4rem;
    
    max-width: 100%;
    i {
        font-size: 3.5rem;
        color: $black;
        padding-left: 1.1rem;
        text-align: center;
        position: fixed;
    }
    input {
        text-indent: 22px;
    }
    .fa-search {
        position: absolute;
        margin-top: 3.5rem;
        left: 5rem;
        font-size: 1.5rem;
        color: $black;
    }
}

#course-finder {
    padding: 2rem;
    font-size: 2rem;
    max-width: 45.5rem;
    color: $black;
}

//radio
//------
.radio-box {
    margin-top: 0.75rem;
    max-width: 120px;
    padding: 10px;
    background-color: scale-color($orange, $lightness: +85%);
    border-radius: $global-radius;
}

form input::-webkit-input-placeholder {
    color: $light-orange;
}

.formgroup {
    max-width: 16rem;
}



.col-highlight {
    background-color: scale-color($purple, $lightness: +96%);
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 33.33333%;
    z-index: 2;
    background-size: cover;
    background-position: -450px, 0px;
}

@media all and (max-width: 767px) {
    .col-highlight {
        display: none;
    }
}

#course-label {
    margin-bottom: .5rem;
}