.breadcrumbs {
    background-color:scale-color($white, $lightness: +30%);
    padding: 0.75rem;
    margin: 0;
}


//Hero Area_______________
//_________________________
.hero {
    text-align: center;
    background:  url("../img/edinburgh-college-home-main.jpg")center center no-repeat;
    background-color: $purple;
    background-size: cover;
    padding-top: 14rem;
    h1 {
        color: $white;
        padding-bottom: 4rem;
        font-size: 6rem;
         font-family: "jubilat", sans-serif;
    font-style: normal;
    font-weight: 100;
        /*  @media only screen and (max-width: 64.5em) {
            font-size: 4rem;
            padding-top: 12rem;
        }
 */
    }
}

.hero-subnav {
    float: none;
    position: relative;
    text-align: center;
    margin-bottom: 0;
    li {
        float: none;
        display: inline-block;
        a {
           
            padding: 0.9rem 1rem 0.75rem;
            font-size: 0.875rem;
            color: #fff;
            text-transform: uppercase;
            display: block;
            font-weight: bold;
            letter-spacing: 1px;
              transition: 300ms ease-in-out;
            &.is-active {
                background: scale-color($white, $lightness: +25%);
                opacity: .9;
                color: #333;
            }
            &:hover {
                background: scale-color($white, $lightness: +30%);
                 opacity: .7;
                color: #333;
                transition: all .25s ease-in-out;
                 
            }
        }
    }
}