<section id="services">
    <div id="services-bg"></div>
    <div class="row pad-large">
        <div class="large-8 medium-8 columns">
            <div class="page-title">
                <h2 class="lowlight">Edinburgh College<span class="highlight">.</span></h2>
            </div>
            <p class="lead">
                Learn More About Our Courses
            </p>

            <div class="service">
                <div class="service-icon">
                    <div class="icon icon_house"></div>
                </div>
                <div class="service-text">
                    <h6>Students</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam aut sit necessitatibus quam perferendis dolorem, quisquam delectus obcaecati nulla quod aliquid voluptate veritatis voluptatum corporis doloremque rerum incidunt quae!
                    </p>
                </div>
            </div>


            <div class="service">
                <div class="service-icon">
                    <div class="icon icon_menu-square_alt2"></div>
                </div>
                <div class="service-text">
                    <h6>Courses</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam aut sit necessitatibus quam perferendis dolorem, quisquam delectus obcaecati nulla quod aliquid voluptate veritatis voluptatum corporis doloremque rerum incidunt quae!
                    </p>
                </div>
            </div>


            <div class="service">
                <div class="service-icon">
                    <div class="icon icon_cone_alt"></div>
                </div>
                <div class="service-text">
                    <h6>Campus</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam aut sit necessitatibus quam perferendis dolorem, quisquam delectus obcaecati nulla quod aliquid voluptate veritatis voluptatum corporis doloremque rerum incidunt quae!
                    </p>

                </div>

            </div>

            <div class="service">
                <div class="service-icon">
                    <div class="icon icon_ribbon_alt"></div>
                </div>
                <div class="service-text">
                    <h6>More</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam aut sit necessitatibus quam perferendis dolorem, quisquam delectus obcaecati nulla quod aliquid voluptate veritatis voluptatum corporis doloremque rerum incidunt quae!
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>



<section id="work" class="pad-normal">
    <div class="row ">
        <div class="large-12  columns">
            <div class="page-title">
                <h2 class="lowlight"> <i class="zmdi zmdi-wifi-alt"></i> Edinburgh college heading<span class="highlight"></span></h2>
            </div>
        </div>
    </div>
</section>



<section id="blog">
    <div id="blog-bg"></div>
    <div class="row pad-large">


        <div class="large-8 medium-7 large-push-4 medium-push-5 ">


            <div class="page-title">
                <h2 class="lowlight">Where do you want to be<span class="highlight">?</span></h2>
            </div>
            <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nisi culpa temporibus tempora quisquam quibusdam nesciunt corporis nihil dicta voluptas, consequuntur quo inventore laudantium placeat, debitis praesentium modi commodi.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nisi culpa temporibus tempora quisquam quibusdam nesciunt corporis nihil dicta voluptas, consequuntur quo inventore laudantium placeat, debitis praesentium modi commodi</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ex nisi culpa temporibus tempora quisquam quibusdam nesciunt corporis nihil dicta voluptas, consequuntur quo inventore laudantium placeat, debitis praesentium modi commodi</p>


        </div>
    </div>
</section>

<section class="information">
    <div class="row full-width">
       <!-- Card layout -->
        <div class="medium-4 columns">
            <div class="card">
                <div class="image">
                    <img src="http://placehold.it/527x350">
                    <span class="title">College Info</span>
                </div>
                <div class="content">
                    <p>All troop carriers will assemble at the north entrance. The heavy transport ships will leave as soon as they're loaded. Only two fighter escorts per ship. The energy shield can only be opened for a short time, so you'll have to stay very close to your transports. Two fighters against a Star Destroyer?</p>
                </div>
                <div class="action">
                    <a href="#">this is a link &#9654;</a>
                </div>
            </div>
        </div>
         <!-- Card layout -->
        <div class="medium-4 columns">
            <div class="card">
                <div class="image">
                    <img src="http://placehold.it/527x350">
                    <span class="title">College Info</span>
                </div>
                <div class="content">
                    <p>All troop carriers will assemble at the north entrance. The heavy transport ships will leave as soon as they're loaded. Only two fighter escorts per ship. The energy shield can only be opened for a short time, so you'll have to stay very close to your transports. Two fighters against a Star Destroyer?</p>
                </div>
                <div class="action">
                    <a href="#">this is a link &#9654;</a>
                </div>
            </div>
        </div>
         <!-- Card layout -->
        <div class="medium-4 columns">
            <div class="card">
                <div class="image">
                    <img src="http://placehold.it/527x350">
                    <span class="title">College Info</span>
                </div>
                <div class="content">
                    <p>All troop carriers will assemble at the north entrance. The heavy transport ships will leave as soon as they're loaded. Only two fighter escorts per ship. The energy shield can only be opened for a short time, so you'll have to stay very close to your transports. Two fighters against a Star Destroyer?.</p>
                </div>
                <div class="action">
                    <a href="#">this is a link &#9654;</a>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="information">
    <div class="row full-width">
       <!-- Card layout -->
        <div class="medium-4 columns">
            <div class="card">
                <div class="image">
                    <img src="http://placehold.it/527x350">
                    <span class="title">College Info</span>
                </div>
                <div class="content">
                    <p>All troop carriers will assemble at the north entrance. The heavy transport ships will leave as soon as they're loaded. Only two fighter escorts per ship. The energy shield can only be opened for a short time, so you'll have to stay very close to your transports. Two fighters against a Star Destroyer?</p>
                </div>
                <div class="action">
                    <a href="#">this is a link &#9654;</a>
                </div>
            </div>
        </div>
         <!-- Card layout -->
        <div class="medium-4 columns">
            <div class="card">
                <div class="image">
                    <img src="http://placehold.it/527x350">
                    <span class="title">College Info</span>
                </div>
                <div class="content">
                    <p>All troop carriers will assemble at the north entrance. The heavy transport ships will leave as soon as they're loaded. Only two fighter escorts per ship. The energy shield can only be opened for a short time, so you'll have to stay very close to your transports. Two fighters against a Star Destroyer?</p>
                </div>
                <div class="action">
                    <a href="#">this is a link &#9654;</a>
                </div>
            </div>
        </div>
         <!-- Card layout -->
        <div class="medium-4 columns">
            <div class="card">
                <div class="image">
                    <img src="http://placehold.it/527x350">
                    <span class="title">College Info</span>
                </div>
                <div class="content">
                    <p>All troop carriers will assemble at the north entrance. The heavy transport ships will leave as soon as they're loaded. Only two fighter escorts per ship. The energy shield can only be opened for a short time, so you'll have to stay very close to your transports. Two fighters against a Star Destroyer?</p>
                </div>
                <div class="action">
                    <a href="#">this is a link &#9654;</a>
                </div>
            </div>
        </div>
    </div>
</section>