<form>
    <div class=" row collapse  course-search ">

        <div class="small-12 large-8  columns">

            <label ng-model="query" for="course search" class="label" id="course-label">course search</label>
             
              <span class="fa fa-search"></span>
              
            <input type="search" placeholder="search for a course..." id="course-finder">

            <label class="formgroup">by:
                <select ng-model="artistOrder">
                    <option value="name">Name</option>
                    <option value="reknown">Reknown</option>
                </select>
            </label>

            <label class="formgroup">
                <input type="radio" ng-model="direction" name="direction" checked> ascending
            </label>
            <label class="formgroup">
                <input type="radio" ng-model="direction" name="direction" value="reverse"> descending
            </label>

        </div>

    </div>
</form>
