<form>
    <div class=" row collapse  course-search ">

        <div class="small-12 medium-8 large-8 columns">

            <label for="course search" class="label" id="course-label">course search</label>
             
              <span class="fa fa-search"></span>
              
            <input type="search" placeholder="search for a course..." id="course-finder">

            <label class="formgroup">sort by:
                <select ng-model="artistOrder">
                    <option value="name">Name</option>
                    <option value="reknown">Campus</option>
                </select>
            </label>
<div class="radio-box">
            <label class="formgroup">
                <input type="radio" id="radio1" ng-model="direction" name="direction" checked> ascending
            </label>
            <label class="formgroup">
                <input type="radio" id="radio2" class="radio"  ng-model="direction" name="direction" value="reverse"> descending
            </label>
</div>
        </div>
        <div class=" medium-8 large-4  columns col-highlight">
    
 </div>

    </div>
</form>
