<footer class="footer">
    <div class="row full-width">
        <div class="small-12 medium-3 large-4 columns">
            <i class="zmdi zmdi-nature-people"></i>
            <p>Edinburgh College is one of Scotland's biggest Colleges with around 20,000 students across 4 campuses in Edinburgh and the Lothians.</p>
        </div>
        <div class="small-12 medium-3 large-4 columns">
            <i class="zmdi zmdi-landscape"></i>
            <p>Offering a wide variety of vibrant vocational and academic courses, Edinburgh College provides flexible learning opportunities to suit all learning needs. </p>
        </div>
        <div class="small-6 medium-3 large-2 columns">
             <h4>Useful Links</h4>


            <ul class="footer-links">
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Campuses</a></li>
                <li><a href="#">Maps &amp; Directions</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="small-6 medium-3 large-2 columns">
            <h4>Follow Us</h4>

            <ul class="footer-links">
       
               
                <span data-tooltip aria-haspopup="true" class="has-tip-left" data-disable-hover="false" tabindex="1" title="follow on Facebbok">
         
             <li><a href="#"><i class=" zmdi zmdi-facebook zmdi-hc-lg small-icon"></i></a></li></span>
                <span data-tooltip aria-haspopup="true" class="has-tip-left" data-disable-hover="false" tabindex="1" title="follow on Twitter">
         <li><a href="#"><i class=" zmdi zmdi-twitter zmdi-hc-lg small-icon"></i></a></li></span>
                <span data-tooltip aria-haspopup="true" class="has-tip-left" data-disable-hover="false" tabindex="1" title="follow on Google+">
         <li><a href="#"><i class=" zmdi zmdi-google-plus zmdi-hc-lg small-icon"></i></a></li></span>
                <span data-tooltip aria-haspopup="true" class="has-tip-left" data-disable-hover="false" tabindex="1" title="follow on Instagram">
         <li><a href="#"><i class=" zmdi zmdi-instagram zmdi-hc-lg small-icon"></i></a></li></span>
                <span data-tooltip aria-haspopup="true" class="has-tip-left" data-disable-hover="false" tabindex="1" title="follow on linkedin">
        <li><a href="#"><i class=" zmdi zmdi-linkedin zmdi-hc-lg small-icon"></i></a></li></span>
            </ul>
        </div>
    </div>
</footer>
<footer class="footer-last">
    <div class="row full-width">
        <div class="small-12 columns">
            <p class="slogan">| Midlothian | Granton | Sighthill | Milton Road |</p>
            <p class="links">
                <a href="#">Accessibility</a>
                <a href="#">Vacancies</a>
                <a href="#">Disclaimer</a>
                <a href="#">Sitemap</a>
                <a href="#">Privacy &amp; Cookies</a>
                <a href="#">Policies</a>
            </p>
            <p class="copywrite">Copyright Edinburgh College © 2016</p>
        </div>
    </div>
</footer>
<footer class="footer-bottom">
    <div class="row full-width">
        <div class="small-12 columns">

        </div>
    </div>
</footer>


