<header class="hero">
<div class="jumbotron">
<h1>Where do you want to be?</h1>

  <ul class="hero-subnav">
    <li><a href="#">Courses</a></li>
    <li><a href="#" class="is-active">Campus</a></li>
    <li><a target="_blank" href="#">Students</a></li>
    <li><a href="#">Learn More</a></li>
    <li><a href="#">Study</a></li>
    <li><a target="_blank" href="#">Contact</a></li>
  </ul>
    </div>
<!-- Breadcrumb-->
</header>
 <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
         
        </ul>
</nav>

    
